<!DOCTYPE html> <!--Estructura html 5-->
<html lang="es"
         xmlns:th="http://www.thymeleaf.org"> 

<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--título-->
    <title>Recurso no encontrado - Hogar Seguro</title>
    <!--meta descripción-->
    <meta name="description" content="El recurso solicitado no fue encontrado o la solicitud es inválida. Desde aquí puedes volver al panel de administración de Hogar Seguro.">
     <!--favicon-->
    <link rel="icon" type="image/png" th:href="@{/favicon/favicon-96x96.png}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon/favicon.svg}" />
    <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}" />
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}" />
    <!--Tipografías-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <!--hoja de estilos bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--biblioteca iconos bootsrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--hoja de estilos css-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>


<body class="bg-light d-flex flex-column min-vh-100">

    <div class="container my-auto text-center">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5 mb-5">
                
                <i class="bi bi-search text-muted" style="font-size: 6rem;"></i>
                <h1 class="display-1 fw-bold text-dark mostrar-h1">404</h1>
                <h2 class="display-1 fw-bold text-dark pt-4">404</h2>
                <h2 class="mb-3">¡Huy! Parece que nos hemos perdido</h2>
                <p class="text-muted mb-4" th:text="${errorMessage}">No pudimos encontrar el habitante o la página que buscabas.</p>
                
                <a th:href="@{/}" class="btn btn-primary btn-lg px-5 shadow-sm mb-5">
                    <i class="bi bi-house-door"></i> Volver al Inicio
                </a>

            </div>
        </div>
    </div>



<!--footer-->
    <footer class="mt-auto">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-9 col-md-8 copy">
                    <p>Copyright © 2026 - Santuario Hogar Seguro Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
   


</body>

</html>
