<!DOCTYPE html>
<html lang="es"
         xmlns:th="http://www.thymeleaf.org">

<head>
    <!--meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--título-->
    <title>Login - Hogar Seguro</title>
    <!--meta descripción-->
    <meta name="description"
        content="Hogar Seguro es un refugio comprometido con el rescate animal y la educación sobre veganismo y antiespecismo. Conoce nuestra historia, cómo nos originamos y las actividades de nuestros colaboradores que trabajan incansablemente para brindar una vida segura a los animales rescatados mientras te contamos como nos dedicamos a la autogestión sostenible del santuario, promoviendo una comunidad de compasión y cuidado. Únete a nosotros y forma parte de este hermoso compromiso.">
    <!--favicon-->
    <link rel="icon" type="image/png" th:href="@{/favicon/favicon-96x96.png}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" th:href="@{/favicon/favicon.svg}" />
    <link rel="shortcut icon" th:href="@{/favicon/favicon.ico}" />
    <link rel="apple-touch-icon" sizes="180x180" th:href="@{/favicon/apple-touch-icon.png}" />
    <link rel="manifest" th:href="@{/favicon/site.webmanifest}" />
    <!--Tipografías-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <!--hoja de estilos bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--biblioteca iconos bootsrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--hoja de estilos css-->
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>

    <div class="container login-container">

        <div class="text-center mb-4">
            <i class="bi bi-shield-lock-fill text-primary" style="font-size: 3rem;"></i>
            <h2 class="fw-bold mt-4">Panel de Control</h2>
            <p class="text-muted">Ingresa tus credenciales de administrador</p>
        </div>


        <div class="card shadow p-4">

            <!--param de spring security-->
            <div th:if="${param.error}" class="alert alert-danger small py-2 text-center">
                Usuario o contraseña incorrectos.
            </div>

            <div th:if="${param.logout}" class="alert alert-success small py-2 text-center">
                Has cerrado sesión correctamente.
            </div>

            <!--login form-->
            <form th:action="@{/auth/login}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label small fw-bold">Usuario</label>
                    <input type="text" id="username" name="username" class="form-control" required autofocus><!--name field-->
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label small fw-bold">Contraseña</label>
                    <input type="password" id="password" name="password" class="form-control" required><!--password fieldd-->
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2 shadow-sm">
                    <i class="bi bi-box-arrow-in-right"></i> Iniciar Sesión
                </button>
            </form>

        </div>
        

        <div class="text-center mt-4">
            <a th:href="@{/}" class="text-decoration-none text-muted small">
                <i class="bi bi-arrow-left"></i> Volver al Santuario
            </a>
        </div>

    </div>

</body>

</html>